*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.text {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}
.top_heading {
    font-size: 64px;
    color: #1f3f68;
}
.heading_contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.heading{
    font-size: 36px;
    text-align: center;
}
.heading_mini {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
}
.input_text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4
}
.submit_button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase
}
.container { 
    width: 1140px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
}
.top_heading {
    width: 510px;
}
.text_top {
    width: 425px;
}
.card {
    width: 359px
}
.card_box {
    display: flex;
    justify-content: space-between;
}
.footer_info {
    display: flex;
    justify-content: space-between;
}
.heading__h3 {
    width: 340px;
}
.main {
    display: flex;
}


    

 






